[Unit]
Description = zigbee2wled daemon
After=network.target

[Service]
EnvironmentFile = ./.env
ExecStart = /opt/zb2wled/zb2wled.py -u ${MQTT_USER} -p ${MQTT_PASS}
WorkingDirectory = /opt/zb2wled
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Type = simple

[Install]
WantedBy = multi-user.target